[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"
{% if direct_dependencies %}
[tool.hatch.metadata]
allow-direct-references = true
{% endif %}
[project]
name = "{{_folder_name}}"
version = "0.9"
description = "{{description}}"
readme = "README.md"
requires-python = ">=3.12"
license = "MIT"
license-files = ["LICEN[CS]E*"]
authors = [
  {name="{{user_name}}", email="{{user_email}}"}
]
dependencies = [
]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Science/Research",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
  "Topic :: Scientific/Engineering",
  "Topic :: Scientific/Engineering :: Mathematics",
  "Topic :: Scientific/Engineering :: Physics"
]

[project.urls]
Homepage = "https://github.com/{{github_user}}/{{_folder_name}}"{% if mkdocs %}
Documentation = "https://{{github_user}}.github.io/{{_folder_name}}"{% endif %}
Repository = "https://github.com/{{github_user}}/{{_folder_name}}.git"

[project.optional-dependencies]
test = ["pytest"]

[tool.setuptools]
packages = ["{{_folder_name}}"]

[[tool.setuptools.ext-modules]]
name = "{{_folder_name}}._{{_folder_name}}"
sources = ["{{_folder_name}}/_{{_folder_name}}module.c"]
py-limited-api = true
