"""{{_folder_name}} Python implementation."""



from typing import Any



def foo(a:Any, b:Any) -> Any:
    """Return the sum of `a` and `b`.
    
    $$
        a + b
    $$
    
    Python implementation.
    """
    return a + b
