"""{{_folder_name}} Python implementation."""



__all__ = ('foo', )



def foo(a, b):
    """Return the sum of `a` and `b`.
    
    $$
        a + b
    $$
    
    Python implementation.
    """
    return a + b
