#define Py_LIMITED_API 0x030e0000
#define PY_SSIZE_T_CLEAN
#include <Python.h>



/* Function */

PyDoc_STRVAR(foo_doc, "Add two objects. C implementation.");

static PyObject*
foo(PyObject* self, PyObject* args, PyObject* kwargs)
{
    PyObject* a;
    PyObject* b;
    static const char* const kwlist[] = {"a", "b", NULL};
    if(!PyArg_ParseTupleAndKeywords(args, kwargs, "OO", kwlist, &a, &b)) {
        return NULL;
    }

    return PyNumber_Add(a, b);
}



/* Module */

PyDoc_STRVAR({{_folder_name}}_doc,
"{{_folder_name}} C implementation.");

static PyMethodDef {{_folder_name}}_methods[] = {
    {"foo", (PyCFunction)foo, METH_VARARGS | METH_KEYWORDS, foo_doc},
    {NULL, NULL, 0, NULL} //sentinel
};

static PyModuleDef_Slot {{_folder_name}}_slots[] = {
    {0, NULL}
};

//https://docs.python.org/3/c-api/module.html#c.PyModuleDef
static PyModuleDef {{_folder_name}}module = {
    .m_base = PyModuleDef_HEAD_INIT,
    .m_name = "{{_folder_name}}._{{_folder_name}}",
    .m_doc  = {{_folder_name}}_doc,
    .m_size = 0,
    .m_methods = {{_folder_name}}_methods,
    .m_slots = {{_folder_name}}_slots,
};

PyMODINIT_FUNC
PyInit__{{_folder_name}}(void)
{
    return PyModuleDef_Init(&{{_folder_name}}module);
}
