"""Pure Python implementation of the {{_folder_name}} module."""

def foo(a, b):
    """Add two numbers.
    
    Returns the sum of `a` and `b`.
    
    $$
        a + b
    $$
    
    Python implementation.
    """
    return a + b
