[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{_folder_name}}"
version = "0.9"
description = "{{description}}"
readme = "README.md"
requires-python = ">=3.12"
license = "MIT"
license-files = ["LICEN[CS]E*"]
authors = [
  {name="{{user_name}}", email="{{user_email}}"}
]
#dependencies = []

[project.urls]
Homepage = "https://github.com/{{github_user}}/{{_folder_name}}"{% if mkdocs %}
Documentation = "https://{{github_user}}.github.io/{{_folder_name}}"{% endif %}
Repository = "https://github.com/{{github_user}}/{{_folder_name}}.git"

[project.optional-dependencies]
test = ["pytest"]

[tool.hatch.build.targets.wheel]
packages = ["{{_folder_name}}"]
include = ["README.md", "LICENSE"]
